body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}

.header {
    display: flex;
    height: 42px;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    color: #f9faf8;
    padding: 10px 20%;
    margin-bottom: 20px;
}

li {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-left: 10px;
}

.headerlogo {
    display: flex;
    font-size: 24px;
    font-weight: bolder;
}

.headerlinks {
    display: flex;
    flex-direction: row;
    font-size: 18px;
    color: #f9faf8;
}

a {
    text-decoration: none;
    color: #f9faf8;
}

.main {
    display: inline-flex;
    background-color: #1F2937;
    color: #f9faf8;
    margin: -20px 0px;
    padding: 80px 20% 80px;
    min-height: 100%;
    justify-content: space-between;
    align-items: center;
}

.main-header {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.main-info {
    font-size: 18px;
    color: #e5e7eb;
}

.info-header {
    display: flex;
    justify-content: center;
    font-weight: bolder;
    padding: 50px 0px 0px;
}

.main-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    background-color: #3882f6;
    width: 120px;
    padding: 6px 0px;
    margin: 10px 0px;
    border-radius: 4px;
    border: 0;
}

.main-right {
    display: flex;
    background-color: gray;
    justify-content: center;
    align-items: center;
    padding: 100px 180px;
    margin-left: 24px;
}

.info {
    display: inline-flex;
    min-height: 100%;
    flex-direction: column;
    justify-content: center;
    align-content: space-evenly;
    padding: 0px 20%;
}

.gray {
    display: inline-flex;
    min-height: 100%;
    background-color: lightgray;
    align-items: center;
    padding: 100px 20%;
}

.words {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.source  {
    display: flex;
    justify-content: end;
    font-size: 36px;
    font-weight: bold;
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 100px;
    background-color: #3882f6;
    margin: 80px 20%;
    border-radius: 8px;
}

.button-text {
    display: flex;
    flex-direction: column;
    color: white;
}

.button-button {
    display: flex;
    margin: 10px;
    padding: 8px 40px;
    border: 2px solid;
    justify-content: center;
    align-items: center;
    background-color: #3882f6;
    color: white;
    border-color: white;
    border-radius: 6px;
    font-weight: bold;
}

.footer {
    display: flex;
    height: 72px;
    justify-content: center;
    align-items: center;
    padding: 0px 30px;
    color: white;
    background-color: #1F2937;
}

.info-header {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 30px;
}

.left,
.left-mid,
.right-mid,
.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    font-size: 8px;
}

.card {
    display: flex;
    box-sizing: border-box;
    border: 4px solid #3882f6;
    height: 20px;
    width: 20px;
    padding: 48px;
    margin: 4px 16px;
    border-radius: 8px;
}

.text {
    display: flex;
    padding: 0px 10px;
    text-align: center;
}

.button-text-header {
    font-weight: bold;
    font-size: larger;
}